.full-nav {
    width: 100vw;
    background: black;
}

.nav-conatiner {
    width: 1200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.menu-and-search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

#menu,
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #fff;
}

#men:before,
#menu:after {
    content: '';
    display: table;
}

#menu:after {
    clear: both;
}

#menu li {
    float: left;
    list-style: none;
    text-decoration: none;
}

#menu a {
    padding: 12px, 13px;
    text-decoration: none;
    color: #fff;
}

#menu li:hover>a {
    color: aquamarine;
    background: #262626;
}

.menu-li {
    position: relative;
}

#menu ul {
    padding: 50px 40px;
    position: absolute;
    top: 20px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: #262626;
    border-radius: 3px;
    transition: all .3s;
}

#menu li:hover>ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu li a {
    text-decoration: none;
    color: #fff;
}

.submenu li a:hover {

    background: #262626;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-input {
    background: transparent;
    border-radius: 20px;
    position: relative;
    width: 162px;
    height: 40px;
}

.run {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    border: 2px solid orangered;
    background: transparent;
}

.run:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 40%;
    cursor: pointer;
    border: none;
    margin-left: 140px;
    width: 24px;
    height: 24px;
}

.search-icon i {
    width: 16px;
    height: 16px;
    border: 2px;
    color: #F16214;
    padding: 11px 13px 0 0;
}

#icon1 {
    width: 40px;
    height: 40px;
    background: #F16214;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon1 i {
    font-size: 20px;
    color: white;
}

.button {
    background-color: orangered;
    border-radius: 30px;
    width: 104px;
    height: 54px;
    padding: 16px, 26px, 16px, 26px;
}

.menu-header-text {
    width: 208px;
    height: 101px;
    letter-spacing: 0em;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.menu-header-text .text {
    font-family: Roboto;
    font-size: 42px;
    color: #fff;
}

.menu-header-text .description {

    font-family: Imperial Script;
    font-size: 40px;
    color: #F16214;
}

.hero-section {
    background-image: linear-gradient(0deg, rgba(14, 10, 12, 0.795), rgba(14, 10, 12, 0.795)), url("/images/contact/BgHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 359px;
    overflow-x: hidden;
}

/* main section start here */
.login-container {
    background-image: linear-gradient(0deg, rgba(14, 10, 12, 0.795), rgba(14, 10, 12, 0.795)), url("/images/login/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 130px auto auto auto;
}

.login-img {
    width: 600px;
}

.login-content {
    width: 640px;
    height: 632px;
    background-image: url("/images/login/logBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 168px 0 169px 0;
    position: relative;
}

.login-form {
    margin: 109px 112px 110px 44px;
}

.login-header {
    font-size: 20px;
    color: #fff;
}

.contact-info-input-group {
    display: flex;
    flex-direction: column;
    gap: none;
    margin-top: 40px;
    border: none;
    color: #353847;
}

.contact-info-input-group input {
    width: 484px;
    height: 74px;
    font-size: 16px;
    background: #353847;
    border: none;
    color: #FFFFFF;
}

.hr {
    width: 484px;
    height: 1px;
    background: white;
}

.contact-btn-container {
    margin-top: 20px;
    width: 81px;
    height: 38px;
    padding: 8px, 14px, 8px, 14px;
    border-radius: 6px;
}

.booked-btn {
    background: #F16214;
    color: #E7E7E7;
    font-size: 18px;
    border: none;
}

.login-text-icon {
    width: 135px;
    height: 40px;
}

.login-text {
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
}

.link {
    padding: 0px, 0px, 0px, 0px;
    display: flex;
    gap: 27px;
}

#icon-div {
    background: #F16214;
    border-radius: 5px;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon-div i {
    font-size: 30px;
}

.sign-up {
    color: #E7E7E7;
    font-size: 12px;
    z-index: 1;
    text-align: center;
}

.sign-up span {
    color: #F16214;
}